<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    This is used to launch the working B2 robot.
-->
<launch>

    <include file="$(find b2_base)/launch/nodes/roboclaw_nodes.launch">
        <arg name="test_mode"       value="false" />
    </include>
    <include file="$(find b2_base)/launch/nodes/base_node.launch" />
    <include file="$(find b2_base)/launch/nodes/sensors_node.launch">
        <arg name="test_mode"       value="false" />
    </include>
    <!-- <include file="$(find b2_base)/launch/nodes/pilot_node.launch" /> -->

</launch>
