<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    This is used to launch a simulated base environment for working on other nodes.
    It lauches the base node, and roboclaw nodes with stubs.
-->
<launch>

    <include file="$(find b2)/launch/dev/base-dev.launch" />

    <param name="roboclaw_front/test_mode" type="bool" value="true" />
    <param name="roboclaw_rear/test_mode" type="bool" value="true"/>

</launch>