<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    This is used to launch a on-robot dev environment for working on other nodes.
    It lauches the base node, and roboclaw nodes.
-->
<launch>

    <include file="$(find b2)/launch/nodes/base-node.launch" />
    <include file="$(find b2)/launch/nodes/roboclaw_front-node.launch" />
    <include file="$(find b2)/launch/nodes/roboclaw_rear-node.launch" />

    <param name="roboclaw_front/test_mode" type="bool" value="false" />
    <param name="roboclaw_rear/test_mode" type="bool" value="false"/>

</launch>