<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    This is used to both simulated robocloase for working on other nodes.
-->
<launch>

    <include file="$(find b2)/launch/nodes/roboclaw_front-node.launch" />
    <include file="$(find b2)/launch/nodes/roboclaw_rear-node.launch" />

    <param name="roboclaw_front/test_mode" type="bool" value="true" />
    <param name="roboclaw_rear/test_mode" type="bool" value="true"/>

</launch>