<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    This is used for running sensors node in a dev environment.
    It lauches the sensors node, in its test mode where the sensors outputs simply flip
    back and forth every second.
-->
<launch>
    
    <include file="$(find b2)/launch/nodes/ir_sensors-node.launch" />
 
    <param name="ir_sensors/test_mode" type="bool" value="true"/>

</launch>