<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    This is used to launch both roboclaw nodes.
-->
<launch>

    <arg name="test_mode"                   default="false"/>

    <include file="$(find roboclaw_driver)/launch/roboclaw.launch">
        <arg name="name"            value="roboclaw_front"          />
        <arg name="dev_name"        value="/dev/ttyACM0"            />
        <arg name="speed_cmd_topic" value="/roboclaw/speed_command" />
        <arg name="stats_topic"     value="~/stats"                 />
        <arg name="test_mode"       value="$(arg test_mode)"        />
    </include>
    <include file="$(find roboclaw_driver)/launch/roboclaw.launch">
        <arg name="name"            value="roboclaw_rear"           />
        <arg name="dev_name"        value="/dev/ttyACM1"            />
        <arg name="speed_cmd_topic" value="/roboclaw/speed_command" />
        <arg name="stats_topic"     value="~/stats"                 />
        <arg name="test_mode"       value="$(arg test_mode)"        />
    </include>

</launch>
