<?xml version="1.0" encoding="UTF-8"?>
<!--
    This is used to run the joystick teleop node, used with the ROS joy node.
-->
<launch>

    <node name="teleop_node" pkg="b2_dev" type="teleop_node.py">
        <param name="~max_linear" type="double" value="1.0" />
        <param name="~max_angular" type="double" value="6.3" />
        <param name="~cmd_vel" type="str" value="/cmd_vel" />
    </node>

</launch>
